@model CartViewModel
<div class="productWrapper">
    <img class="smallImage" src="~/images/@Model.Image" alt="@Model.Name" />
    <div class="productMeta">
        <p>@Model.Name</p>
        <p>@Model.Color</p>
        <p>@Model.Price</p>
    </div>
</div>