@model CartViewModel
<div class="productWrapper">
    <img class="smallImage" src="~/images/@Model.Image" alt="@Model.Name" />
    <div class="productMeta">
    @Model.Name
    @Model.Color
    @Model.Price
    </div>
</div>