@model List<ProjectPreparing.Project.Core.Models.CartViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Your Cart</h2>
@foreach (var product in Model)
{
    Html.RenderPartial("Cart", product);
}

<a asp-area="" asp-controller="Checkout" asp-action="Index">Continue to checkout</a>
